.contact-content {
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 7.3rem;
	margin-top: 8rem;
}

.contact-heading {
	margin: 1rem 0 3rem 0;
	font-size: 3.7rem;
	font-weight: 400;
}

h3 {
	margin: .5rem;
	font-weight: 400;
}

h5 {
	margin: .5rem;
	font-weight: 400;
}