.home-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-top: 1rem;
}

.home-heading {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	/*border: 1px solid black;*/
	text-align: center;
	width: 90%;
}

.home-heading-img {
	/*border: 1px solid blue;*/
	flex: 0 0 33%;
}

.home-heading-img img {
	width: 50%;
	border: none;
	border-radius: 2rem;
	margin-top: 1rem;
}

.home-heading-content {
	/*border: 1px solid red;*/
	flex: 0 0 33%;
}

.spacer {
	/*border: 1px solid green;*/
	width: 100%;
	flex: 0 0 33%;
}

.home-heading-content h1 {
	font-size: 4.2rem;
	font-weight: 500;
	margin: 0;
	margin-bottom: 1.9rem;
}

.home-heading-content h3 {
	font-size: 3.5rem;
	font-weight: 500;
	margin: 0;
	margin-bottom: 1.9rem;
}

.home-heading-content h4 {
	font-size: 3rem;
	font-weight: 400;
	margin: 0;
	margin-bottom: 1.9rem;
}

.home-heading-content h5 {
	font-size: 2.5rem;
	font-weight: 400;
	margin: 0;
	margin-bottom: 1.9rem;
}

.home-heading-content h6 {
	font-size: 2.2rem;
	font-weight: 400;
	margin: 0;
}

.home-body {
	/*border: 1px solid black;*/
	font-size: 2.5rem;
	text-align: center;
	width: 80%;
	margin-top: 5rem;
}

.home-body p {
	margin-top: 3rem;
}

.home-contact {
	width: 30%;
	display: flex;
	justify-content: space-around;
	margin-top: 10rem;
	font-size: 1.6rem;
}