.nav-menu {
	width: 40rem;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: -32rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: all .3s ease-in-out;
	box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, .3);
	z-index: 50;
}

.nav-menu.open {
	left: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav-list-container {
	width: 100%;
	height: 50%;
	margin-top: 12rem;
}

.nav-list {
	height: 100%;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 3.5rem;
	text-align: right;
	color: #ddd;
	list-style-type: none;
	margin: 0;
	padding-right: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.navbar-link {
	text-decoration: none;
	color: #ddd;
	font-weight: 400;
	border-bottom: 3px solid transparent;
	transition: border-bottom .2s;
}

.navbar-link:link {
	color: #ddd;
}

.navbar-link:hover {
	border-bottom: 3px solid #d841d3;
}

.personal-info {
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.personal-info span {
	margin-bottom: .4rem;
}

.navbar-link--active {
	color: #d841d3;
	border-bottom: 3px solid #d841d3;
	pointer-events: none;
}

/* Responsive Styles */
@media screen and (max-width: 500px) {
	.nav-menu {
		width: 30rem;
		left: -35rem;
	}

	.nav-menu.open {
		left: 5rem;
	}

	.nav-list {
		padding-right: 2rem;
	}
}

@media screen and (max-width: 350px) {
	.nav-menu {
		width: 25rem;
		left: -20rem;
	}

	.nav-list {
		font-size: 2.5rem;
	}
}

@media screen and (max-height: 500px) {
	.nav-list-container {
		margin-top: 5rem;
	}

	.nav-list {
		font-size: 3rem;
	}
}